In [1]:
import pandas as pd

In [4]:
metadata = pd.read_csv('C:/Users/Big data/Desktop/movie/movies_metadata.csv', low_memory=False)

In [5]:
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
C = metadata['vote_average'].mean()
C

5.618207215133889

In [8]:
m = metadata['vote_count'].quantile(0.90)
m

160.0

In [9]:
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]

In [10]:
q_movies.shape

(4555, 24)

In [11]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [12]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [13]:
q_movies = q_movies.sort_values('score', ascending=False)

In [14]:
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

                             title  vote_count  vote_average     score
314       The Shawshank Redemption      8358.0           8.5  8.445869
834                  The Godfather      6024.0           8.5  8.425439
10309  Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
12481              The Dark Knight     12269.0           8.3  8.265477
2843                    Fight Club      9678.0           8.3  8.256385
292                   Pulp Fiction      8670.0           8.3  8.251406
522               Schindler's List      4436.0           8.3  8.206639
23673                     Whiplash      4376.0           8.3  8.205404
5481                 Spirited Away      3968.0           8.3  8.196055
2211             Life Is Beautiful      3643.0           8.3  8.187171

In [30]:
q_movies['title']

314                           The Shawshank Redemption
834                                      The Godfather
10309                      Dilwale Dulhania Le Jayenge
12481                                  The Dark Knight
2843                                        Fight Club
292                                       Pulp Fiction
522                                   Schindler's List
23673                                         Whiplash
5481                                     Spirited Away
2211                                 Life Is Beautiful
1178                            The Godfather: Part II
1152                   One Flew Over the Cuckoo's Nest
351                                       Forrest Gump
1154                           The Empire Strikes Back
1176                                            Psycho
18465                                 The Intouchables
40251                                       Your Name.
289                             Leon: The Professional
3030                                    The Green Mile
1170                                        GoodFellas
2216                                American History X
15480                                        Inception
22879                                     Interstellar
7000     The Lord of the Rings: The Return of the King
256                                          Star Wars
46                                               Se7en
1161                                      12 Angry Men
586                           The Silence of the Lambs
9698                              Howl's Moving Castle
2884                                 Princess Mononoke
                             ...
514                                          RoboCop 3
20314                                         Movie 43
23110                           The Legend of Hercules
15771                                    Vampires Suck
9444       Starship Troopers 2: Hero of the Federation
541                                  Super Mario Bros.
10464                                          The Fog
19342                                      Piranha 3DD
2529                  Superman IV: The Quest for Peace
388                                     Street Fighter
16616                                     Home Alone 4
1603                       Mortal Kombat: Annihilation
1486                           Speed 2: Cruise Control
11229                                   The Wicker Man
26563                                   Fantastic Four
10809                                       Date Movie
7939                                          Catwoman
3998                                 Jaws: The Revenge
12358                                Meet the Spartans
1491                                    Batman & Robin
18101                                    Jack and Jill
9651                                 Alone in the Dark
28207                                The Boy Next Door
24413                                      Left Behind
21238                                        Sharknado
9710                                   Son of the Mask
12911                                   Disaster Movie
3471                                 Battlefield Earth
11557                                       Epic Movie
13566                             Dragonball Evolution
Name: title, Length: 4555, dtype: object

In [15]:
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
tfidf = TfidfVectorizer(stop_words='english')

In [18]:
metadata['overview'] = metadata['overview'].fillna('')

In [19]:
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

In [22]:
tfidf_matrix.shape

(45466, 75827)

In [23]:
from sklearn.metrics.pairwise import linear_kernel

In [24]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [25]:
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [26]:
indices

title
Toy Story                               0
Jumanji                                 1
Grumpier Old Men                        2
Waiting to Exhale                       3
Father of the Bride Part II             4
Heat                                    5
Sabrina                                 6
Tom and Huck                            7
Sudden Death                            8
GoldenEye                               9
The American President                 10
Dracula: Dead and Loving It            11
Balto                                  12
Nixon                                  13
Cutthroat Island                       14
Casino                                 15
Sense and Sensibility                  16
Four Rooms                             17
Ace Ventura: When Nature Calls         18
Money Train                            19
Get Shorty                             20
Copycat                                21
Assassins                              22
Powder                                 23
Leaving Las Vegas                      24
Othello                                25
Now and Then                           26
Persuasion                             27
The City of Lost Children              28
Shanghai Triad                         29
                                    ...
The Final Storm                     45436
In a Heartbeat                      45437
Blood, Sweat and Tears              45438
Jungle Woman                        45439
To Be Fat Like Me                   45440
Cadet Kelly                         45441
The Scheming Gambler's Paradise     45442
The Man with the Rubber Head        45443
The Living Playing Cards            45444
The Hilarious Posters               45445
The Devilish Tenant                 45446
The Untameable Whiskers             45447
The Imperceptable Transmutations    45448
Pooh's Heffalump Halloween Movie    45449
The One-Man Band                    45450
The Fat and Lean Wrestling Match    45451
Deep Hearts                         45452
Mom                                 45453
The Morning After                   45454
St. Michael Had a Rooster           45455
House of Horrors                    45456
Shadow of the Blair Witch           45457
The Burkittsville 7                 45458
Caged Heat 3000                     45459
Robin Hood                          45460
Subdue                              45461
Century of Birthing                 45462
Betrayal                            45463
Satan Triumphant                    45464
Queerama                            45465
Length: 45466, dtype: int64

In [29]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [33]:
get_recommendations('Catwoman')

44706                       Stupidstitious Cat
18624                              Miss Nobody
44048                              Simon's Cat
35682                  Cool Cat Saves the Kids
40456                                  Lorenzo
31262       Tom and Jerry Meet Sherlock Holmes
24479                        The Cat Came Back
31261    Tom and Jerry: The Fast and the Furry
22243                    All Things To All Men
15793                   Someone's Watching Me!
Name: title, dtype: object

In [34]:
credits = pd.read_csv('C:/Users/Big data/Desktop/movie/credits.csv')
keywords = pd.read_csv('C:/Users/Big data/Desktop/movie/keywords.csv')

In [35]:
metadata = metadata.drop([19730, 29503, 35587])

In [36]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

In [37]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [38]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [39]:
metadata = metadata.merge(credits, on='id')

In [40]:
metadata = metadata.merge(keywords, on='id')

In [41]:
metadata.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [42]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [43]:
import numpy as np

In [44]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [45]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [55]:
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [56]:
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [57]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [58]:
features = ['cast', 'keywords', 'director', 'genres']

In [59]:
for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [60]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [61]:
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [62]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [64]:
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [65]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

12589      The Dark Knight
10210        Batman Begins
9311                Shiner
9874       Amongst Friends
7772              Mitchell
516      Romeo Is Bleeding
11463         The Prestige
24090            Quicksand
25038             Deadfall
41063                 Sara
Name: title, dtype: object

In [68]:
get_recommendations('RoboCop 3', cosine_sim2)

2897                   RoboCop 2
22889         Behind Enemy Lines
4857           An Eye for an Eye
20007         The Tiger Brigades
3115            Against All Odds
12490    Rise of the Footsoldier
11153             The Public Eye
14621                     Ticker
15570             24: Redemption
16319                  Linewatch
Name: title, dtype: object